

<div class="container">
    <h3>Eat da Burger!</h3>
<div class= "row">
     
       <div class="col-sm-6">
           {{#each allBurgers}}
   
            {{#if this.devoured}}
            {{else}}
           <div class="listOfburger row">
               <div class = "col-sm-8 burgerbg">
                   
                    {{this.id}}.{{this.burger_name}}
               
                 </div>
           <div class = "col-sm-4">
            <button class="btn btn-secondary change-devour" data-id = "{{this.id}}">Devour it!</button></div>
        </div>
        {{/if}}
        {{/each}}
        </div>
        <div class ="col-sm-5">
        {{#each allBurgers}}
   
           {{#if this.devoured}}
           <div  class ="selectedBurger"> 

                {{this.id}}.{{this.burger_name}}
                
            </div>
            {{/if}} 
            
            {{/each}}
        </div>
    
    </div>
</div><br><br>
    

<form action = "/api/burgers" method="POST" class= "addBurger">
    <textarea type = "text" name="burger" id="burger"></textarea><br>
    <button class="btn btn-primary" type="submit">Submit</button>
    <p>Enter a burger you want to eat ckick the "submit" button</p>
</form>
